.NavBar{
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 3vw;
    height: 100px;
    width: 97vw;
    background-color: slateblue;
    z-index: 2;
}

.NavBar img{
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 100px;
}

.NavBar a{
    margin-right: 20px;
}

.link{
    color: cornflowerblue;
    text-decoration: none;
    font-size: 1.5em;
}

.link:hover{
    color: crimson;
    cursor: pointer;
    transition: color .40s ease;
}