.App{
  text-align: center;
  background-color: azure;
  min-height: 800px;
  color: aliceblue;
  height: 100vh;
}

.App-logo{
  height: 40vmin;
  pointer-events: none;
}

@media(prefers-reduced-motion: no-preference){
  .App-logo{
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header{
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: honeydew;
}

.App-link{
  color: skyblue;
}

@keyframes App-logo-spin{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

.link{
  color: skyblue;
  text-decoration: none;
}

.link:hover{
  cursor: pointer;
  color: thistle;
}

.container{
  display: flex;
  flex-direction: column;
  margin: auto;

  justify-content: center;
  padding: 0 20px;
  max-width: 1600px;
  position: relative;
  z-index: 1;
  height: 100%;
}

.homeBackground{
  background-image: url(https://lh3.googleusercontent.com/proxy/2zLemouoKwU_kdAaQS7k5RkL8Y91IknuxHy8JQI9QEa1vdOxtw6Fjw_m_GFidceWsyH-SViKbFyEvfOyfLQUIEqIqKyGrA);
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.overlay{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
}